/* https://www.musinsa.com/main/116 */

@media (min-width: 1200px) {
  /* 카테고리(hdUJFm), 검색결과(.dBXfGP) 기존 상품 컨테이너 숨기기 */
  .hbUJFm,
  .dBXfGP {
    opacity: 0 !important;
    position: fixed !important;
    bottom: 0 !important;
    height: 0 !important;
  }

  .goods-container {
    display: grid;
    z-index: 0;
    grid-template-columns: repeat(8, 1fr);
    position: relative;
  }
  /*  */
  #commonLayoutContainer::before,
  #commonLayoutContainer::after {
    display: none !important;
  }

  * {
    --max-width: 1200px !important;
  }

  /* 메인페이지 최상단 캐러셀 크기 */
  .swiper {
    max-width: 600px !important;
  }
  /* qr코드 */
  ._qr_1g9ok_1 {
    display: none !important;
  }

  /* 랭킹 */
  .dKOtPP {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .dKOtPP > :nth-child(1),
  .dKOtPP > :nth-child(2),
  .dKOtPP > :nth-child(3) {
    grid-column: 1 / span 3 !important;
  }

  /* 하단 nav 좌측으로 */
  ._gnb__menu_1tp1k_13 {
    flex-direction: column !important;
    left: calc(50% - 670px) !important;
    top: 0 !important;
    min-width: 70px !important;
    width: 70px !important;
    margin: 0 !important;
    padding: 0 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.6) !important;
    z-index: -1 !important;
  }

  .pagination {
    position: fixed;
    bottom: 1rem;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 99999;
    border-radius: 1rem;
    border: 1px solid #000;
    backdrop-filter: blur(10px);
  }
  .page {
    padding: 0.5rem 1rem;
    transition: all 0.2s;
  }
  .page.prev {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 1px solid #000;
  }
  .page.next {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 1px solid #000;
  }

  .page.active {
    background-color: royalblue;
    color: #fff;
    font-weight: bold;
  }
  .page.active:hover {
    background-color: royalblue;
    color: #fff;
    font-weight: bold;
  }
  .page:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
  }
  .page.next[disabled],
  .page.prev[disabled] {
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .my-like-btn.liked > div > :nth-child(2) {
    display: none;
  }

  .my-like-btn:not(.liked) > div > :nth-child(1) {
    display: none;
  }

  .eGmYVg,
  .dREizi {
    transform: scale(1) !important;
    animation: none !important;
    opacity: 1 !important;
  }
  .bTubkf,
  .llzAq {
    right: 50% !important;
    transform: translateX(50%) !important;
  }

  /* 타임세일 */
  .kYTqzW {
    flex: 0 0 12.5% !important;
    width: 12.5% !important;
  }
}

@media (min-width: 1701px) {
  * {
    --max-width: 1500px !important;
  }

  .cta-DVS {
    grid-template-columns: repeat(10, 150px) !important;
  }
  ._gnb__menu_1tp1k_13 {
    left: calc(50% - 820px) !important;
  }

  .goods-container {
    grid-template-columns: repeat(10, 1fr);
  }
}
